<div class="group cursor-pointer">
  <div class="aspect-square bg-gray-100 overflow-hidden mb-4">
    <img
      [src]="product.image"
      class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
    />
  </div>

  <div class="space-y-1">
    <p class="text-gray-500 text-sm">{{ product.category }}</p>
    <h3 class="text-black">{{ product.name }}</h3>
    <p class="text-black">R$ {{ product.price }}</p>
  </div>
  <button class="p-4 rounded cursor-pointer"  [routerLink]="['/product', product.id]">Detalhes</button>
  <button class="p-4 bg-red-500 text-white rounded cursor-pointer" (click)="delete()"> Excluir </button>
</div>
